[Unit]
Description=socket for vault credential server

[Socket]
ListenStream=/run/vault-credentials.socket
SocketUser=root
SocketGroup=root
SocketMode=0600

[Install]
WantedBy=sockets.target
